__pycache__/
*.pyc
*.blend1
previews/*_draft.png
qa/app/models/
qa/app/presets/
qa/app/front-4k.png
references/*.html
references/gigazine-*.jpg
references/gigazine-links.json
references/image-links.json
references/product-links.json
references/samsung-elevation-0.jpg
references/samsung-elevation-1.jpg
references/samsung-elevation-2.jpg
references/samsung-elevation-4.jpg
references/samsung-elevation-5.jpg
qa/app/report-in-progress.json
